body {
    color:white;
    height:100%;
    margin:0px;
    background-image: url('./assets/maxim-berg-RP1ny6ItgAM-unsplash.jpg');
    background-size: 1920px 1248px;
    background-position:0% 0%;
    background-attachment:fixed;
    overflow:scroll;
    font-family: "Barlow";
}

.homePage {
    position:absolute;
    width:2em;
    height:2em;
    background-color:white;
    z-index:1;
}
 
.head-banner {
    z-index:1;
    height: 5em;
    /* background-color: rgba(0,0, 0,0.6); */
    /* -webkit-backdrop-filter: blur(5px); */
    /* backdrop-filter: blur(5px); */

}

.navBar {
    background-color: rgba(45, 46, 48,0.3);
    /* background-color: rgba(51,35, 159,0.1); */
    /* background-color: rgba(100, 0, 0,0.3); */
    height: 8em;
    /* height: 100em; */
    width: 100%;
    display: flex;
    justify-content:space-between;
    z-index:3;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.navBar .homepage {
    /* border: solid white; */
    color:white;
    text-align:center;
    font-size:2em;
    margin:auto;
    margin-left:3em;
    
    display:inline-block;
}

.name{
  text-align:left;
  font-size:0.7em;
  color: #e7e5e4;
}

.page-name{
  text-align:left;
  font-size:1em;
  color: #e7e5e4;
  margin-top:0.2em;
}

.top-right-icon img {
    position:absolute;
    width: 13em;
    height:13em;
    top: 2em;
    right: 8em;
    z-index:4;
}

.projectPage {
    z-index:2;
    height: 100em;
    /* background-color: rgba(0,0, 0,0.6); */
    /* -webkit-backdrop-filter: blur(5px); */
    /* backdrop-filter: blur(5px); */
}

.small-text {
  font-size:1.3em;
}

.main-list {
    margin-top:4em;
}

.year {
  margin-top:1em;
}

.section {
  margin-bottom:3em;
}
.section-name {
    font-size:2em;
    white-space: nowrap;
}

.section-separator{
    margin-top:0.5em;
    height:1px;
    border: 0;
    border-top: 2px solid #818cf880;
}

.article-list {
  margin-top:1em;
  margin-left:1em;
}

.article {
    position: relative;
    margin-left:1em;
    display:flex;
    margin-top:1em;
    margin-bottom:1em;
}

.article-bullet {
  height:15px;
  width:15px;
  border:solid white 1px;
  border-radius:50%;
  position:relative;
  top:6px;
}

.article-body {
  margin-left:1.3em;
}

.article-links {
  text-decoration:none;
}

.article-name {
  font-weight:bold;
}

.article-authors {
  font-style:italic;
}

/* general container for our text */
.text-container {
    margin-right:5em;
    margin-left:5em;
}

.general-description {
    font-size:1.3em;
    /* border: solid white; */
    padding-top:4em;
    /* color: #14b8a6; */
    /* color : #7d71c7; */
    color:#aea2eb;
    font-weight:bold;
    margin-bottom: 3em;
}


.project-item {
    margin-bottom:5em;
}
.item {
    display: flex;
    justify-content:space-between;
    height:2em;
    /* border:solid white 1px; */
}

.item-lhs {
  max-height:100%;
  display: flex;
  justify-content:space-between;
  width:40%;
  /* border:solid white 1px; */
}

.item-title {
    font-size:2em;
    /* max-width:100%; */
    /* border: solid blue 1px; */
    white-space: nowrap;
}


.item-icons {
  /* margin-left: 1em; */
    width:30%;
    /* border: solid green 1px; */
    text-align:right;
}
.item-icons img {
    max-height:100%;
    padding-right:1em;
    /* width:100%; */
    /* background-color: black; */
}

.item-date {
    font-size:2em;
}

.item-separator{
    margin-top:0.5em;
    height:1px;
    border: 0;
    border-top: 2px solid rgba(51,35, 159,1);
}

.item-description {
    margin-top:0.5em;
    position: relative;
    margin-left:1em;
    width:50em;
    text-align:left;
    font-size:1.3em;
    /* white-space: nowrap; */
}

a {
  color: #fb923c;
  text-decoration:none;
}

footer {
  height: 2em;
  position:fixed;
  bottom:10px;
}

footer a img{
  margin-left: 1em;
  max-height:100%;
}

.hidden-bullet {
  border-color: rgba(45, 46, 48,0);
}
